// theme colors
$brand-color: #56bdff;
$muted-color: #E3E1F3;
$background-color: #F7F7FB;
$badge-background: #EB5757;
$dark: #15122F;
$primary: #656289;
$white: #FFFFFF;
$blue: #3F75FF;

// text colors
$muted-text-color: #A2A1BB;
$dark-text: #15122F;
$primary-text: #656289;
$error-text: #EB5757;
$black-text: #000000;
